@import 'colors';

html,
body {
  font-size: 1rem;
}

body {
  background-color: $gray600;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  min-height: calc(100vh - 175px);
  //background-color: $white;
  //padding: 30px 0 40px 0;
  position: relative;
}

//.main, .header, .nav {
//  width: 100%;
//  max-width: 1110px;
//  min-width: 1110px;
//  margin: 0 auto;
//}
//
//.container {
//  width: 100%;
//  max-width: 1050px;
//  margin: 0 auto;
//}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%) rotate(0);
  animation: mainLoader 1s ease infinite;
  .loader-img {
    width: 28px;
  }
}
