@import '../../assets/styles/media';
@import '../../assets/styles/theme-variables';
.skills {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .skills-text {
    width: 55%;
    @include media('xs') {
      width: 100%;
      text-align: center;
    }
    @include media('sm') {
      width: 100%;
      text-align: center;
    }
  }
  .skills-globe {
    width: 45%;
    @include media('xs') {
      width: 100%;
      margin-bottom: 20px;
    }
    @include media('sm') {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  @include media('xs') {
    flex-direction: column-reverse;
    align-items: center;
  }
  @include media('sm') {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.lang-skills-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 245px;
  margin-top: 50px;
  .indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 2.2em;
    font-weight: 100;
    color: #555;
    user-select: none;
    .indicator-percent {
      font-size: 24px;
      line-height: 1.15;
      margin-bottom: 10px;
    }
    .indicator-title {
      font-size: 20px;
      line-height: 1.15;
    }
  }
}


