@import '../../assets/styles/theme-variables';
@import '../../assets/styles/media';

.title {
  font-family: 'special_eliteregular', serif !important;
  font-size: 3em;
  line-height: 1;
  text-align: center;
  @include themify($themes) {
    color: themed('titleTextColor');
  }
  @include media('xs') {
    margin: 0 0 40px;
  }
  @include media('sm') {
    margin: 0 0 40px;
  }
}
